.ActorCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.ActorCard > div {
    border: 1px solid #ce4f4f;
    padding: 10px;
    text-align: center;
    background-color: blanchedalmond;
}