.MovieCard {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33.33% - 20px);
    height: 50vmin;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    color: white; /* Adjust text color for better visibility */
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.MovieCardContent {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}